html, body {
    margin: 0;
    height: 100%;
}

header {
    padding: 15px;
    background-color: #30383C;
    color: #FFFFFF;
}

header a {
    color: #FFFFFF !important;
}

aside {
    min-height: 100% !important;
    padding: 15px;
    width: 300px;
    background-color: #104469;
    color: #FFFFFF;
    position: absolute;
}

main {
    padding: 15px;
    padding-left: 315px !important;
    min-height: 100% !important;
    border-right: solid 1px gray;
}